.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}
.name {
  padding: 5vh;
}

.RobotContainer {
  border: 1px solid black;
  font-size: 2rem;
  height: 50vh;
  width: 50vw;
  padding: 5vh;
}

.UserInputForm { 
  padding: 5vh;
  font-size: 2rem;
}